modules = ["java-graalvm22.3", "web", "nodejs-20", "angular-node-24"]
run = "java -jar ./opt/Stirling-PDF/Stirling-PDF.jar"

[nix]
channel = "stable-25_05"
packages = ["wget", "runtimeShellPackage", "vim-full", "postgresql"]

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 35729
externalPort = 80

[deployment]
deploymentTarget = "vm"
run = ["java", "-jar", "./app/core/build/libs/stirling-pdf.jar"]
build = ["./gradlew", ":stirling-pdf:bootJar", "-x", "test", "--no-daemon"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Spring Boot Server"

[[workflows.workflow]]
name = "Spring Boot Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./gradlew bootRun"
waitForPort = 8080

[workflows.workflow.metadata]
outputType = "console"
